{% extends "base.html" %}

{% block extra_css %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <h1>List of available Ships:</h1>
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Length</th>
      <th>Width</th>
    </tr>
    {% for ship in object_list %}
      <tr>
        <td>{{ ship.code }}</td>
        <td>{{ ship.name }}</td>
        <td>{{ ship.length }}m</td>
        <td>{{ ship.width }}m</td>
      </tr>
    {% empty %}
      <tr><td>No ships in your harbour yet.</td><td></td><td></td><td></td></tr>
    {% endfor %}
  </table>
{% endblock content %}
